### connect  to the database

In [9]:
import csv, sqlite3

In [11]:
# connnect to the database
con = sqlite3.connect("db.sql")
cur = con.cursor()

In [2]:
import pandas as pd

In [12]:
import pandas
df = pandas.read_csv('https://data.cityofchicago.org/resource/jcxq-k9xf.csv')
df.to_sql("chicago_socioeconomic_data", con, if_exists='replace', index=False,method="multi")

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': file is not a database

In [3]:
from sqlite3 import connect
conn = connect(':memory:')
df = pd.DataFrame(data=[[0, '10/11/12'], [1, '12/11/10']],
                  columns=['int_column', 'date_column'])
df.to_sql('db', conn)

2

In [7]:
pd.read_sql('SELECT * from  regions', conn)

DatabaseError: Execution failed on sql 'SELECT * from  regions': no such table: regions